*,
*,
*:after,
*:before {
	box-sizing: border-box;
}

.container{
	height:auto;
	width:auto;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.nav{
background-color:white;
padding-left: 0px;
padding-right: 0px;

}
.para{
text-align:justify;
padding: 0px;
border:1px solid black;
}
.row{

	margin-top: 11px;
}
#header{
	font-family: "Proxima Nova Regular",Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: #0a0a0a;
		background-color: white;
}

.container-fluid{
padding: 0px;
}

#fitbit{


}

.heading1{

	margin-left: 90px;
	color: #00B0B9;
  font-style: italic;
	font-family: cursive;
	font-family: "Proxima Nova Bold",Arial,sans-serif;
	    font-size: 50px;
    margin-top: -447px;

}
.button1{
	margin-left: 24px;
	margin-top: 314px;
color: #fff;
    background: #00B0B9;
    text-transform: uppercase;
    border-radius: 25px;
    font-family: "Proxima Nova Bold",Arial,sans-serif;
    border: none;
    cursor: pointer;
    border: 3px solid #00B0B9;
    padding: 10px 35px;
    font-size: 15px;
    line-height: 1;
}


.col-md-4{
  margin-top: 25px;
	background: linear-gradient(to right, #ebebeb 50%, #e1e1e1 50%);
	height:300px;
	overflow:auto;
color:black;
}
.newone{


}
#first{
	  padding: 20px 0;

    justify-content: center;
    position: relative;
    width: 33.33%;
	}

#second{
	padding: 20px 0;
	justify-content: center;
	position: relative;
	width: 62%;
margin-left: 73px;
margin-top: 1px;
}

#third{
	padding: 20px 0;
 margin-left: 2px;
	justify-content: center;
	position: relative;
	width: 33.33%;
}

@media(max-width: 500px){
.picture{
        width:100%;
}
 }
